import logging
from typing import Dict

from grpc import insecure_channel
from google.protobuf.json_format import MessageToDict
from . import {{ filename }}_pb2, {{ filename }}_pb2_grpc, {{ filename }}_schema
from .._config import GRPC_ADDRESS, GRPC_LOGGER

__all__ = ["{{ service }}Client"]

logger = logging.getLogger(GRPC_LOGGER)


class {{ service | replace("Service", "") }}Client:
    URL = f"{GRPC_ADDRESS['host']}:{GRPC_ADDRESS['port']}"
    s = schemas = {{ filename }}_schema
{% for method in methods %}
    def {{ method[0] | decamelize }}(self{% if method[1] == "google.protobuf.Empty" %}{% else %}, schema: {{ filename }}_schema.{{ method[1] }}{% endif %}) -> {{ filename }}_schema.{{ method[2] }}:
        with insecure_channel(self.URL) as channel:
            stub = {{ filename }}_pb2_grpc.{{ service }}Stub(channel)
            service_name, rpc_name = "{{ service }}", "{{ method[0] }}"
    {% if method[1] == "google.protobuf.Empty" %}
            logger.info("gRPC client of %s.%s send nothing", service_name, rpc_name)
            response = stub.{{ method[0] }}()
    {% else %}
            payload = schema.dict()
            logger.info("gRPC client of %s.%s send: %s", service_name, rpc_name, payload)
            request = {{ filename }}_pb2.{{ method[1] }}(**payload)
            response = stub.{{ method[0] }}(request)
    {% endif %}
            reply = MessageToDict(response, True, True)
            logger.info("gRPC client of %s.%s received: %s", service_name, rpc_name, reply)
            return {{ filename }}_schema.{{ method[2] }}(**reply)
{% endfor %}
